@import 'variables';
@import 'reset';

@media (min-width: 600px){
  div {
    .css-17oq65h-MuiContainer-root {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
main {
  padding: 0 1rem;
}
main .css-xdmu94-MuiContainer-root {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media screen and (max-width: 400px) {
  .css-uvzlke-MuiButtonBase-root-MuiButton-root {
    width: 100% !important;
  }
}
